[user]
  name = Livio Bieri
  email = livio@livio.li
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  pager = true
[color "status"]
  added = green
  changed = red bold
  untracked = magenta bold
[color "branch"]
  remote = yellow
[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[alias]
  alias = !fish -c "git-alias"
  lg = !fish -c "git-lg"
  changed = diff --name-only HEAD
  cia = commit --verbose --untracked-files=no --all -u
  ci = commit --verbose --untracked-files=no
  ll = log --cc
  df = diff
  co = checkout
  t = add -p
  tt = add -p
  rt = checkout -p
  s = status --short --branch
  st = status --short --branch
  stu = status --short --branch -uno
  pushup = push --set-upstream origin HEAD
  preview = log --patch --max-count=1
  review-branch = log --patch --first-parent
  rebase-unpushed = !fish -c "git-rebase-unpushed"
  mpm = !git checkout master && git pull && git checkout - && git merge master
  pp = !git pull && git push
  br = branch
[push]
  default = simple
[core]
  untrackedCache = true
  editor = nvim
  ignorecase = false
  excludesfile = ~/.gitignore
  # diff-so-fancy
  # pager = diff-so-fancy --patch-mode | less --tabs=2 -RFX
  # delta
  pager = delta
[interactive]
  # delta
  diffFilter = delta --color-only
[commit]
  template = ~/.gitmessage
[branch "master"]
  mergeoptions = --no-ff
[help]
  autocorrect = 10
[diff]
  indentHeuristic = true
[pull]
  rebase = true
[merge]
  conflictstyle = diff3
[rebase]
  autosquash = true
