[user]
  name = Livio Bieri
  email = livio@livio.li
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  pager = true
[color "status"]
  added = green
  changed = red bold
  untracked = magenta bold
[color "branch"]
  remote = yellow
[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[alias]
  alias = !fish -c "git-alias"
  tig = !tig
  lg = !fish -c "git-lg"
  lga = !fish -c "git-lga"
  standup = !fish -c "git-standup"
  recap = !fish -c "git-recap"
  cia = commit --verbose --untracked-files=no --all
  ci = commit --verbose --untracked-files=no
  ll = log --cc
  df = diff
  co = checkout
  tt = add -p
  rt = checkout -p
  st = status --short --branch
  stu = status --short --branch -uno
  cl = !clear
  clear = !clear
  exit = !clear
  pushup = push --set-upstream origin HEAD
  preview = log --patch --max-count=1
  review-branch = log --patch --first-parent
  rebase-unpushed = !fish -c "git-rebase-unpushed"
  pp = !git pull && git push
[push]
  default = simple
[core]
  untrackedCache = true
  editor = nvim
  ignorecase = false
  pager = diff-so-fancy --patch-mode | less --tabs=2 -RFX
  excludesfile = ~/.gitignore
[commit]
  template = ~/.gitmessage
[branch "master"]
  mergeoptions = --no-ff
[help]
  autocorrect = 10
[diff]
  indentHeuristic = true
[interactive]
  diffFilter = diff-so-fancy --patch-mode | less --tabs=2 -RFX
[gitsh]
  prompt = git • %c%D (%b) $%w
[tig]
  mouse = true
  tab-size = 2
  refresh-mode = periodic
  refresh-interval = 5
[tig "color"]
  cursor = black green
[pull]
  rebase = true
[merge]
  conflictstyle = diff3
[rebase]
  autosquash = true
