[user]
  name = Livio Bieri
  email = livio@livio.li
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  pager = true
[color "status"]
  added = green
  changed = red bold
  untracked = magenta bold
[color "branch"]
  remote = yellow
[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[alias]
  fw = !open -g https://bitbucket.org/mr_karl/karl/commits/all
  ba = !open -g https://github.com/livioso/HubApp/commits/master
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -20
  uncommit = reset --soft HEAD^
  upstream = push origin head
  tinder = add -p
  ciam = commit -am
  cim = commit -m
  cia = commit -a
  ci = commit
  co = checkout
  br = branch
  st = status --short --branch
  df = diff
  psuh = push
  p = push
  # undo the last commit
  undo = reset --soft HEAD~
[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true
[push]
  default = simple
[core]
  untrackedCache = true
  editor = nvim
  pager = bash -lc 'diff-highlight | less -r' -
  ignorecase = false
[commit]
  template = ~/.gitmessage
[branch "master"]
  mergeoptions = --no-ff
[help]
  autocorrect = -1
