[user]
  name = Livio Bieri
  email = livio@livio.li
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  pager = true
[color "status"]
  added = green
  changed = red bold
  untracked = magenta bold
[color "branch"]
  remote = yellow
[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[alias]
  tig = !tig
  lg = log --color --pretty=format:' %Cred%h%Creset • %Cgreen%cr%Creset %Cblue%an %n ➟ %s' --abbrev-commit -7
  standup = log --branches="*" --author="Livio" --since="24hours" --color --pretty=format:' %Cred%h%Creset • %Cgreen%cr%Creset %Cblue%an %n ➟ %s' --abbrev-commit
  lga = log --color --graph --pretty=format:'%Cred%h%Creset • %Cgreen%cr%Creset %Cblue%an %n ➟ %s' --abbrev-commit
  lgnm = log --color --graph --no-merges --pretty=format:\"%C(blue)%h %Creset- %C(green)(%cr) %Creset%s - %C(cyan)%an %C(magenta)%d\" --date=short
  cia = commit --verbose --untracked-files=no --all
  ci = commit --verbose --untracked-files=no
  ll = log --cc
  df = diff
  co = checkout
  tt = add -p
  rt = checkout -p
  st = status --short --branch
  stu = status --short --branch -uno
  pu = push
  cl = !clear
  clear = !clear
  exit = !clear
  upstream = push --set-upstream origin HEAD
  preview = log --patch --max-count=1
[push]
  default = simple
[core]
  untrackedCache = true
  editor = nvim
  ignorecase = false
  pager = diff-so-fancy --patch-mode | less --tabs=2 -RFX
[commit]
  template = ~/.gitmessage
[branch "master"]
  mergeoptions = --no-ff
[help]
  autocorrect = 10
[diff]
	compactionHeuristic = true
[interactive]
	diffFilter = diff-so-fancy --patch-mode | less --tabs=2 -RFX
[gitsh]
  prompt = git • %c%D (%b) $%w
[tig]
  mouse = true
  tab-size = 2
  refresh-mode = periodic
  refresh-interval = 5
[tig "color"]
  cursor = black green
[pull]
	rebase = true
